<div class="productCard">
    <a class="productCard__image" href="{{ productLink dessert.slug }}">
        <img
            class="productCard__img"
            src="{{ imageLink dessert.images.[0].uuid }}"
            alt="{{ dessert.name }}"
        />
    </a>
    <div class="productCard__quantity">
        {{> quantity value=dessert.quantity }}
    </div>
    <a class="productCard__title" href="{{ productLink dessert.slug }}">
        {{ dessert.name }}
    </a>
    <div class="productCard__rating">
        {{> rating rating=dessert.rating.value reviews=dessert.reviews.length }}
    </div>
    <p class="productCard__description">
        {{ dessert.short_description }}
    </p>
    <div class="productCard__price">
        {{ dessert.price }} ₽
    </div>
    <a class="productCard__order" href="{{ orderLink dessert.name dessert.quantity }}" target="_blank">
        Заказать
    </a>
</div>
