<div class="navbar">
    <div class="navbar__panel">
        <button class="navbar__toggle" id="navbar__toggle" type="button">
            <span class="navbar__burger"></span>
            <span class="navbar__burger"></span>
            <span class="navbar__burger"></span>
        </button>
    </div>
    <nav class="navbar__nav" id="navbar__nav">
        <div class="navbar__content">
            <a class="navbar__homepage" href="/">
                <img
                    class="navbar__logo"
                    src="{{ manifest 'assets/logo.svg' }}"
                    alt="{{ pageTitle }}"
                    width="142"
                    heigth="40"
                />
            </a>
            <ul class="navbar__links">
                <li class="navbar__link">
                    <a
                        class="navbar__anchor {{ conditionalClass isMainPage 'smooth' }}"
                        href="{{ baseURL '#catalog' isMainPage }}"
                    >
                        Каталог десертов
                    </a>
                </li>
                <li class="navbar__link">
                    <a
                        class="navbar__anchor smooth"
                        href="#reviews"
                    >
                        Отзывы
                    </a>
                </li>
                <li class="navbar__link">
                    <a
                        class="navbar__anchor smooth"
                        href="#information"
                    >
                        Доставка и оплата
                    </a>
                </li>
            </ul>
            <a class="navbar__question" href="{{ waLink 'Здравствуйте! Хочу задать вопрос: ' }}" target="_blank">
                Задать вопрос
            </a>
        </div>
    </nav>
</div>