<div class="personal">
    <div class="personal__background" style="background-image: url({{ manifest 'images/background.webp' }});"></div>
    <div class="personal__container">
        <img class="personal__image" src="{{ manifest 'images/personal.webp' }}" alt="Кондитер Виктория Смирнова" />
        <div class="personal__information">
            <h2 class="personal__title">
                Виктория Смирнова
            </h2>
            <p class="personal__text">
                Профессиональный домашний кондитер с богатым опытом работы. Каждый десерт готовит с особым трепетом к рецептуре и насыщенным домашним вкусом
            </p>
            <div class="personal__instagram">
                {{#each instagram.posts as |post| }}
                    <a
                        href="{{ instagramPostLink shortcode }}"
                        class="personal__post"
                        target="_blank"
                    >
                        <img
                            class="personal__thumb"
                            src="data:image/webp;base64,{{ post.photo.content }}"
                            alt="{{ post.shortcode }}"
                        />
                    </a>
                {{/each}}
            </div>
            <a
                href="{{ instagramProfileLink instagram.username }}"
                class="personal__more"
                target="_blank"
            >
                @{{ instagram.username }}
            </a>
        </div>
    </div>
</div>