<div class="rating">
    <div class="rating__stars">
        {{#times 5 }}
            {{#if (isStarActive this ../rating) }}
                <img class="rating__img" src="{{ manifest 'assets/star-active.svg' }}" />
            {{else if (isStarHalf this ../rating) }}
                <img class="rating__img" src="{{ manifest 'assets/star-half.svg' }}" />
            {{else}}
                <img class="rating__img" src="{{ manifest 'assets/star-disabled.svg' }}" />
            {{/if}}
        {{/times}}
    </div>
    {{#if reviews }}
        <div class="rating__count">
            ( {{ reviews }} )
        </div>
    {{/if}}
</div>