<div id="tooltipContent_parameters" style="display: none;">
    <div class="tooltipParameters">
        <h5 class="tooltipParameters__title">
            Пищевая ценность (на 100 г):
        </h5>
        <div class="tooltipParameters__list">
            <div class="tooltipParameters__label">
                Белки
            </div>
            <div class="tooltipParameters__label">
                {{ dessert.protein }} г
            </div>
            <div class="tooltipParameters__label">
                Жиры
            </div>
            <div class="tooltipParameters__label">
                {{ dessert.fats }} г
            </div>
            <div class="tooltipParameters__label">
                Углеводы
            </div>
            <div class="tooltipParameters__label">
                {{ dessert.carbohydrates }} г
            </div>
            <div class="tooltipParameters__label">
                Калорийность
            </div>
            <div class="tooltipParameters__label">
                {{ dessert.calories }} г
            </div>
            <div class="tooltipParameters__label">
                Масса порции
            </div>
            <div class="tooltipParameters__label">
                {{ dessert.weight }} г
            </div>
            <div class="tooltipParameters__label">
                Доля суточной нормы
            </div>
            <div class="tooltipParameters__label">
                {{ dessert.daily }} %
            </div>
        </div>
        <div class="tooltipParameters__storing">
            <h5 class="tooltipParameters__title">
                Условия хранения
            </h5>
            <div class="tooltipParameters__label">
                {{ dessert.storing }}
            </div>
        </div>
    </div>
</div>
