{{> navbar }}

<main class="main swiper" style="background-image: url({{ manifest 'images/background.webp' }});">
    <div class="main__slider swiper-wrapper">
        {{#each desserts as |dessert| }}

            <div class="swiper-slide">
                <div class="main__container">
                    <div class="main__collage">
                        <div class="main__image">
                            <img
                                class="main__img"
                                src="data:image/webp;base64,{{ dessert.images.[0].original }}"
                                alt={{ dessert.name }}
                            />
                        </div>
                        <div class="main__oval main__oval_orange"></div>
                        <div class="main__oval main__oval_red"></div>
                    </div>
                    <div class="main__information">
                        <h2 class="main__title">
                            {{ dessert.name }}
                        </h2>
                        <p class="main__description">
                            {{ dessert.description }} 
                        </p>
                        {{> rating rating=dessert.rating reviews=dessert.reviews.length }}
                        <div class="main__details">
                            <a class="main__link" href="{{ productLink dessert.slug }}" title="{{ dessert.name }}">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        {{/each}}
    </div>
</main>

{{> advantages }}

{{> catalog id='catalog' title='Каталог десертов' desserts=desserts }}