{{> navbar isMainPage='true' }}

<div id="main_slider" class="splide main">
    <div class="main__background" style="background-image: url({{ manifest 'assets/background.webp' }});"></div>
    <div class="splide__track">
        <ul class="splide__list">
            {{#each desserts as |dessert| }}

                <li class="splide__slide main__padding">
                    <div class="main__container">
                        <div class="main__column">
                            <a class="main__link" href="{{ productLink dessert.slug }}" title="{{ dessert.name }}">
                                {{> collage uuid=dessert.images.[0].uuid name=dessert.name }}
                                <div class="main__quantity main__quantity_absolute">
                                    {{> quantity value=dessert.quantity }}
                                </div>
                            </a>
                        </div>
                        <div class="main__column">
                            <div class="main__information">
                                <h2 class="main__title">
                                    {{ dessert.name }}
                                </h2>
                                {{> rating rating=dessert.rating.value reviews=dessert.reviews.length }}
                                <p class="main__description">
                                    {{ dessert.short_description }} 
                                </p>
                                <div class="main__price">
                                    {{ dessert.price }} ₽
                                </div>
                                <a class="main__details" href="{{ productLink dessert.slug }}" title="{{ dessert.name }}">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                </li>

            {{/each}}
        </ul>
    </div>
</main>

{{> advantages }}

{{> catalog title='Каталог десертов' desserts=desserts }}

{{> personal instagram=instagram }}

{{> reviews reviews=reviews isAddButton=false }}

{{> information isMainPage=isMainPage }}

{{> credits }}

