{{> navbar }}

<main class="main main__padding">
    <div class="main__background" style="background-image: url({{ manifest 'assets/background.webp' }});"></div>
    <div class="main__container">
        <div class="main__column">
            <div class="main__gallery">
                <div id="product_main_slider" class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            {{#each dessert.images as |image| }}
                                <li class="splide__slide">
                                    <img class="main__image" src="{{ imageLink image.uuid }}" alt="{{ dessert.name }}" />
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <ul class="main__thumbnails">
                    {{#each dessert.images as |image| }}
                        <li class="main__thumbnails--item">
                            <img class="main__thumbnails--img" src="{{ imageLink image.uuid }}" alt="{{ dessert.name }}" />
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="main__column">
            <div class="main__information">
                <h2 class="main__title">
                    {{ dessert.name }}
                </h2>
                {{> rating rating=dessert.rating.value reviews=dessert.reviews.length }}
                <p class="main__description">
                    {{ dessert.full_description }} 
                </p>
                <div class="main__parameters tooltip_parameters">
                    <span class="main__parameters--icon"></span>
                    <p class="main__parameters--title">
                        Пищевая ценность
                    </p>
                </div>
                {{> quantity value=dessert.quantity }}
                <div class="main__price tooltip_price">
                    {{ dessert.price }} ₽
                    <span class="main__price--info">*</span>
                </div>
                <a class="main__order" href="{{ orderLink dessert.name dessert.quantity }}" target="_blank">
                    Заказать
                </a>
            </div>
        </div>
    </div>
</main>

{{> advantages }}

{{> reviews reviews=reviews isAddButton=true }}

{{> information isMainPage=isMainPage }}

{{> catalog title='Похожие десерты' desserts=related }}

{{> personal instagram=instagram }}

{{> credits }}


{{> tooltip_parameters }}

{{> tooltip_price dessert=dessert }}

{{> review_form dessert=dessert }}