<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ manifest 'assets/main.css' }}" />

        <title>{{ pageTitle }}</title>
        <meta name="description" content="{{ description }}" />
        <link rel="icon" type="image/x-icon" href="{{ manifest 'assets/favicon.png'}}">

        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ url }}" />
        <meta name="og:title" property="og:title" content="{{ pageTitle }}" />
        <meta name="og:description" property="og:description" content="{{ description }}" />
        <meta name="og:image" property="og:image" content="{{ manifest 'assets/favicon.png'}}" />

        <meta name="google" content="notranslate">
    </head>
    <body>
        <main>
            {{{ body }}}
        </main>
        <div class="toast-container"></div>
        <script src="{{ manifest 'assets/main.js' }}"></script>
    </body>
</html>
